
.videobox{
    border: 3px solid #0063FF;
    border-color: #0063FF;
    width: 400px;
    height: 500px;
    margin-left: 1200px;
}

.temp{
    border: 3px solid #0063FF;
    border-color: #0063FF;
    width: 200px;
    height: 200px;
    margin-left: 1400px;
}