<header style="font-size: 60px;margin-right: 35ch;" >Movie Recommender</header>

<app-handtracker (onPrediction)="prediction($event)"></app-handtracker>
<div  style="color:rgb(206, 20, 41);font-size:40px">Currently selected: {{ currentMovie.title }}</div>

<!-- <div *ngIf="isRanking">Ranking in progress...</div>
<p><i>Favorite Movies: </i></p>
<ol>
  <li *ngFor="let movie of staticMovies">
    {{ movie.title }}
  </li>
</ol> -->
<div class="horizontal">
<p><i style="color:rgb(255, 255, 255);font-size:25px">Browse Movies: </i></p>
<ul>
  <li style="color:white;font-size:30px" *ngFor="let movie of staticMovies;let i = index">
    {{i+1}}. {{ movie.title }}
  </li>
</ul>
</div>

<!-- <div class="hand-commands">
  <ul>
    <li>Hand Commands:</li>
    <li><i>Hand Pointing:</i> Select Next Movie</li>
    <li><i>Two Open Hands:</i> Select Previous Movie</li>
    <li>
      <i>Open Hand:</i> Change Rank of Current Movie OR Stop Ranking Current
      Movie
    </li>
    <li><i>One Closed One Pointing:</i> Go to Home</li>
  </ul>

  
</div> -->

<div class="hand-commands">
  <ul>
    <li style="color:white;font-size:30px">Gesture Lists</li>
    <li style="color:rgb(255, 192, 198);font-size:20px"><i>Hand Pointing Gesture-> </i> Select Next Movie</li>
    <li style="color:rgb(255, 192, 198);font-size:20px"><i>Two Open Hand Gesture-> </i> Select Previous Movie</li>
    <li style="color:rgb(255, 192, 198);font-size:20px"><i>Open Hand-> </i> Change Rank of Current Movie OR Stop Ranking Current
      Movie</li>
    <li style="color:rgb(255, 192, 198);font-size:20px"><i>One Closed One Pointing-> </i> Go to Home</li>
  </ul>
</div>

