<app-header style="color: red;"></app-header>

<app-handtracker (onPrediction)="prediction($event)"></app-handtracker>

<div *ngIf="showError">
  <p>This movie is already in your favorites.</p>
</div>

<div *ngIf="showSuccess">
  <p>This movie was successfully added to your favorites!</p>
</div>

<div style="color:rgb(255, 255, 255);font-size:20px">Currently selected:</div>
<div style="color:white;font-size:30px" [innerHTML]="currentMovie.title"></div>
<img [src]="currentImage" alt="Current Movie" />


<!-- <div class="hand-commands">
  <ul>
    <li>Hand Commands:</li>
    <li><i>Hand Pointing:</i> Next Movie</li>
    <li><i>Two Hands Pointing:</i> Previous Movie</li>
    <li><i>Open Hand:</i> Add Movie to Favorites</li>
    <li><i>Two Closed Hands:</i> Go to Favorites</li>
    <li><i>Closed Hand:</i> Go to Home</li>
  </ul>
</div> -->

<div class="hand-commands">
  <ul>
    <li style="color:white;font-size:30px">Gesture Lists</li>
    <li style="color:rgb(255, 192, 198);font-size:20px"><i>Hand Pointing-> </i> Next Moviee</li>
    <li style="color:rgb(255, 192, 198);font-size:20px"><i>Two Hands Pointing-> </i>Previous Movie</li>
    <li style="color:rgb(255, 192, 198);font-size:20px"><i>Open Hand-> </i> Add Movie to Favorites</li>
    <li style="color:rgb(255, 192, 198);font-size:20px"><i>Two Closed Hands-> </i> Go to Favorites</li>
    <li style="color:rgb(255, 192, 198);font-size:20px"><i>Closed Hand-> </i> Go to Home</li>
  </ul>
</div>
